@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .container-fluid .redes {
  background-color: #f7d6e0;
  display: flex;
  align-items: center;
  height: 45px; }
  header .container-fluid .redes .instalogo {
    width: 30px; }
  header .container-fluid .redes h6 {
    font-weight: lighter;
    font-style: italic;
    margin: 10px; }

header ul {
  display: flex; }
  header ul li {
    list-style: none;
    margin: 10px;
    text-decoration: none; }
    header ul li a {
      letter-spacing: 0.2rem;
      font-family: 'Red Hat Display', sans-serif;
      font-weight: bold;
      text-decoration: none;
      color: #5e548e; }

.logo {
  width: 250px; }

.presentacion_descripcion {
  max-width: 400px;
  font-family: 'Red Hat Display', sans-serif; }
  .presentacion_descripcion .presentacion_descripcion--tituloprincipal {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400; }
  .presentacion_descripcion .presentacion_descripcion--parrafo {
    font-family: 'Red Hat Display', sans-serif; }

.row .yo {
  width: 200px;
  border-radius: 10px; }

footer {
  background-color: #f7d6e0;
  margin-top: 100px; }
  footer ul {
    padding: 50px; }
    footer ul li {
      list-style: none;
      padding: 5px; }
      footer ul li a {
        letter-spacing: 0.2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: bold;
        text-decoration: none;
        color: #5e548e; }
  footer p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: lighter; }

form {
  margin: 20px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.descripcion_foto {
  border-right: solid 5px #f7d6e0; }

.estudio_foto {
  border-left: solid 5px #f7d6e0; }

.presentacion {
  margin-bottom: 80px; }
  .presentacion img {
    border-radius: 8px;
    width: 700px; }

.row .descripcion {
  font-family: 'Red Hat Display', sans-serif; }

.galeria img {
  margin: 10px;
  opacity: 0.5; }

.galeria img:hover {
  opacity: 1; }

.cursos .cursos_div {
  min-width: 400px;
  max-width: 500px;
  border: 1px solid #5e548e;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  background-color: #5e548e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  .cursos .cursos_div h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center; }
  .cursos .cursos_div p {
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    text-align: center; }
  .cursos .cursos_div h6 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center; }
  .cursos .cursos_div strong {
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    text-align: center; }

.marcas {
  border-top: solid 3px #f7d6e0;
  padding: 10px;
  margin-top: 100px; }

.cursos_div ul {
  list-style-type: none; }
  .cursos_div ul li {
    font-family: 'Red Hat Display', sans-serif;
    color: white; }

.btn {
  background-color: white;
  color: #5e548e;
  align-self: center;
  border: none; }

.btn:hover {
  background-color: #f7d6e0;
  color: #5e548e; }

.tarjetas {
  margin-top: 100px; }

.servicios_peinado {
  height: 300px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }
  .servicios_peinado p {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-weight: lighter; }
  .servicios_peinado img {
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f7d6e0;
    padding: 10px; }
  .servicios_peinado img:hover {
    transition: 0.70s;
    transform: rotate(360deg); }

.servicios_maquillaje {
  height: 300px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }
  .servicios_maquillaje p {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-weight: lighter; }
  .servicios_maquillaje img {
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f7d6e0;
    padding: 10px; }
  .servicios_maquillaje img:hover {
    transition: 0.70s;
    transform: rotate(360deg); }

.servicios_novias {
  height: 300px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }
  .servicios_novias p {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-weight: lighter; }
  .servicios_novias img {
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f7d6e0;
    padding: 10px; }
  .servicios_novias img:hover {
    transition: 0.70s;
    transform: rotate(360deg); }

.servicios_uñas {
  height: 300px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }
  .servicios_uñas p {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-weight: lighter; }
  .servicios_uñas img {
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f7d6e0;
    padding: 10px; }
  .servicios_uñas img:hover {
    transition: 0.70s;
    transform: rotate(360deg); }

nav ul li a:hover {
  text-decoration: none; }

.producto1 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 10px; }
