* {
	margin:0 ; 
	padding: 0;
	box-sizing: border-box;
}

@import "variable.scss";

@mixin titulos {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}
@mixin parrafos {
    font-family: 'Red Hat Display', sans-serif;
}

@mixin tarjeta {
    height: 300px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

header {
    .container-fluid {
        .redes {
            background-color: $rosa;
            display: flex;
            align-items: center;
            height: 45px;

            .instalogo{
                width: 30px;
            }
            h6 {
                font-weight: lighter;
                font-style: italic;
                margin: 10px;
            }
        }
    }

    ul {
        display:flex;
        li {
            list-style: none;
            margin: 10px;
            text-decoration: none;

            a{
                letter-spacing: 0.2rem;
                font-family: 'Red Hat Display', sans-serif;
                font-weight: bold;
                text-decoration: none;
                color: $violeta;
            }
        }
    }
}

    .logo {
        width: 250px;
    }

    .presentacion_descripcion {
        max-width: 400px;
        font-family: 'Red Hat Display', sans-serif;
    
            .presentacion_descripcion--tituloprincipal {
                @include titulos;
            }
            .presentacion_descripcion--parrafo {
            @include parrafos;
            }
        }


.row {
    .yo {
        width: 200px;
        border-radius: 10px;
    }
}


footer {
    background-color: $rosa;
    margin-top: 100px;
    ul {
        padding: 50px;
        li {
            list-style: none;
            padding: 5px;
            a {
                letter-spacing: 0.2rem;
                font-family: 'Red Hat Display', sans-serif;
                font-weight: bold;
                text-decoration: none;
                color: $violeta;
            }
        }
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-weight: lighter;
    }
}


form {
    margin: 20px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.descripcion_foto {
    border-right: solid 5px $rosa;
}

.estudio_foto {
    border-left: solid 5px $rosa;
}





.presentacion {
    margin-bottom: 80px;
    img {
        border-radius: 8px;
        width: 700px;
    }
}

.row {
    .descripcion {
        @include parrafos;
    }
}

.galeria {
    img {
        margin: 10px;
        opacity: 0.5;
    }
    img:hover {
        opacity: 1;
    }
}


.cursos {
    .cursos_div {
        h3 {
            @include titulos;
            color: white;
            text-align: center;
        }
        p {
            @include parrafos;
            color: white;
            text-align: center;
        }
        h6 {
            @include titulos;
            color: white;
            text-align: center;
        }
        strong {
            @include parrafos;
            color: white;
            text-align: center;
        }
        min-width: 400px;
        max-width: 500px;
        border: 1px solid $violeta;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        background-color: $violeta;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

}

.marcas {
    border-top: solid 3px $rosa;
    padding: 10px;
    margin-top: 100px;
}

.cursos_div {
    ul  {
    list-style-type: none;
    li {
        @include parrafos;
        color: white;
    }
}
}

.btn {
    background-color: white;
    color: $violeta;
    align-self: center;
    border: none;
}

.btn:hover {
    background-color: $rosa;
    color: $violeta;
}

.tarjetas {
    margin-top: 100px;
}

.servicios_peinado {
    @include tarjeta;
    p {
        @include parrafos;
        text-align: center;
        font-weight: lighter;
    }
    img {
        border: 2px solid black;
        border-radius: 8px;
        background-color: $rosa;
        padding: 10px;
    }
    img:hover {
        transition: 0.70s;  
        transform: rotate(360deg);
    }
}

.servicios_maquillaje {
    @include tarjeta;
        p {
            @include parrafos;
            text-align: center;
            font-weight: lighter;
        }
        img {
            border: 2px solid black;
            border-radius: 8px;
            background-color: $rosa;
            padding: 10px;
        }
        img:hover {
            transition: 0.70s;  
            transform: rotate(360deg);
        }
}

.servicios_novias {
    @include tarjeta;
    p {
        @include parrafos;
        text-align: center;
        font-weight: lighter;
    }
    img {
        border: 2px solid black;
        border-radius: 8px;
        background-color: $rosa;
        padding: 10px;
    }
    img:hover {
        transition: 0.70s;  
        transform: rotate(360deg);
    }
}

.servicios_uñas {
    @include tarjeta;
    p {
        @include parrafos;
        text-align: center;
        font-weight: lighter;
    }
    img {
        border: 2px solid black;
        border-radius: 8px;
        background-color: $rosa;
        padding: 10px;
    }
    img:hover {
        transition: 0.70s;  
        transform: rotate(360deg);
    }
}


nav {
    ul {
        li {
            a:hover {
                text-decoration: none;
            }
        }
    }
}

.producto1 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 10px;
}